@import "tailwindcss";
@tailwind utilities;

@layer utilities {

     @keyframes pulseColor {
        0%, 100% { background-color: #bfdbfe; }
        50% { background-color: #60a5fa; }  
    }

    @keyframes gradient {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    .animate-pulseColor {
        animation: pulseColor 1s ease-in-out infinite;
        -webkit-animation: pulseColor 1s ease-in-out infinite;
}
    .animate-pulseColor-delay-0 {
        animation-delay: 0s;
    }

    .animate-pulseColor-delay-1 {
        animation-delay: 0.2s;
    }

    .animate-pulseColor-delay-2 {
        animation-delay: 0.4s;
    }
 
    .animate-gradient {
        background-size: 200% 200%;
        animation: gradient 4s ease infinite;
        animation-delay: 1s;
        -webkit-animation: gradient 4s ease infinite;
}

}